*{
	font-family: Roboto;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body{
	background: linear-gradient(0deg, aqua, purple, orange);
}

header{
	display: absolute;
}

a{
	color: #F7EE51;
	transition: all 0.2s;
	text-decoration: none;
}

a:hover{
	color: white;
}

main{
	width: 100%;
}

iframe{
	margin: 10px;
}

h4{
	background: rgba(20, 20, 20, 0.1);
	font-size: 30px;
	color: white;
	text-align: center;
	margin-bottom: 10px;
	text-shadow: 4px 4px 0px black;
}

body::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: rgba(40, 40, 40, 1.0);
}

body::-webkit-scrollbar-thumb{
	width: 8px;
	height: 8px;
	background-color: yellow;
	border-radius: 9px;
}

*::selection{
	color: orange;
	background-color: white;
}

.barra{
	position: fixed;
	width: 100%;
	background: linear-gradient(90deg, blueviolet, violet, aqua);
	box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.6);
	padding: 0 4% 0 1%;
	z-index: 2;
}

.estado{
	width: 100%;
	justify-content: space-between;
	display: flex;
}

.limite{
	width: 130px;
	padding: 18px 10px;
	transition: all 0.1s;
}

.limite img{
	width: 100%;
}

.limite:hover{
	padding: 16px 5px;
}

.espacio{
	width: 90px;
}

.estado a{
	font-size: 20px;
}

.enlaces{
	text-shadow: 2px 2px 0px black;
	padding: 25px 0px;
}

.margen{
	width: 320px;
	height: 60px;
	margin: 8px 0px;
	border-color: white;
	border-radius: 6px;
}

.nombres-redes{
	width: 100%;
}

.respiro{
	height: 80px;
}

.seccion-1{
	padding: 1%;
}

.contenido{
	background: rgba(200, 200, 200, 0.2);
}

.imagen-seccion1{
	height: 100%;
}

.inicio{
	padding: 2%;
	width:  100%;
	text-align: center;
}

.inicio-2::-webkit-scrollbar-thumb{
	width: 8px;
	height: 8px;
	background-color: yellow;
	border-radius: 9px;
}

.inicio-2::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: rgba(40, 40, 40, 1.0);
}

.inicio-2{
	display: flex;
	width:  100%;
	height: 500px;
	overflow-x: scroll;
	overflow-y: hidden;
}

.inicio h1{
	background: rgba(200, 200, 200, 0.1);
	box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
	border-radius: 18px;
	font-size: 50px;
	color: white;
	text-align: center;
	margin-bottom: 10px;
	text-shadow: 4px 4px 0px black;
}

.inicio p{
	background: rgba(20, 20, 20, 0.1);
	font-size: 20px;
	padding: 3px 30px 3px 30px;
	color: white;
}

.inicio a{
	font-size: 20px;
	background: rgba(20, 20, 20, 0.1);
	display: block;
	width: 100%;
}

.redes{
	background: rgba(0, 0, 0, 0.1);
	padding: 50px 20%;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.redes a{
	padding: 0;
	background: rgba(0, 0, 0, 0.0);
}

.redes p{
	padding: 0;
	background: rgba(0, 0, 0, 0);
}

.redes img{
	width: 80px;
	border-radius: 9999px;
	box-shadow: 8px 8px 50px black;
}

.seccion_libre{
	position: fixed;
	display: none;
	width: 100%;
}

.caja_de_respaldo{
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 110vh;
	z-index: 3;
}

.cerrar_video{
	color: aqua;
	text-shadow: 3px 3px 0px black;
	text-align: right;
	cursor: pointer;
	padding: 20px 40px;
}

.flechas_video{
	width: 10%;
	padding: 15% 0px;
}

.flechas_video img{
	display: none;
	width: 50px;
}

.video_cfg{
	width: 120%;
	display: flex;
	align-self: center;
	text-align: center;
	vertical-align: middle;
}

.video_cfg_centrar video{
	width: 90%;
	box-shadow: 0px 0px 50px black;
}

.video_cfg_centrar{
	width: 62%;
}

#fuente-logo{
	display: none;
}

#video_numero_1{
	cursor: pointer;
}


@media(max-width: 1000px){
	body{
		width: 1000px;
	}
	
	.barra{
		height: 100px;
		width: 100%px;
		padding: 0px;
	}

	.margen{
		display: none;
	}

	.limite{
		width: 100%;
		height: 100px;
		padding: 0px;
		text-align: center;
	}

	.limite img{
		width: 260px;
	}

	.respiro{
		height: 100px;
	}

	.enlaces{
		display: none;
	}

	.espacio{
		display: none;
	}

	.inicio p{
		font-size: 30px;
	}

	.inicio-2{
		height: 600px;
	}

	#fuente-logo{
		display: block;
		margin: 0px 30%;
		padding: 3px;
	}

	#fuente-logo a{
		font-size: 70px;
	}
}