*{
	font-family: Roboto;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body{
	background: linear-gradient(0deg, aqua, purple, orange);
}

header{
	display: absolute;
}

a{
	color: #F7EE51;
	transition: all 0.2s;
	text-decoration: none;
}

a:hover{
	color: white;
}

main{
	width: 100%;
}

iframe{
	margin: 10px;
}

h4{
	background: rgba(20, 20, 20, 0.1);
	font-size: 30px;
	color: white;
	text-align: center;
	margin-bottom: 10px;
	text-shadow: 4px 4px 0px black;
}

*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: rgba(40, 40, 40, 1.0);
}

*::-webkit-scrollbar-thumb{
	width: 8px;
	height: 8px;
	background-color: yellow;
	border-radius: 9px;
}

*::selection{
	color: orange;
	background-color: white;
}

.respiro{
	width: 100%;
	height: 40px;
}

.barra_estado{
	width: 100%;
	height: 40px;
	padding: 2.5px 0px;

	position: fixed;
	top: 0px;

	display: flex;
	flex-direction: row;
	justify-content: center;

	background: linear-gradient(90deg, blueviolet, violet, aqua);
}

.barra_estado img{
	height: 100%;

	cursor: pointer;
}

.spprt_dspl{
	position: fixed;
	top: 0px;

	width: 100%;
	height: 100%;

	padding: 30px;

	background-color: rgba(0, 0, 0, 0.2);

	animation-name: open;
	animation-duration: 0.15s;
	animation-iteration-count: 1;
}

.dspl{
	width: 100%;
	height: 100%;

	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);

	background: linear-gradient(45deg, rgb(20, 20, 20), rgb(60, 60, 60), rgb(60, 60, 60), rgb(20, 20, 20));
}

.barra_cerrar{
	width: 100%;
	height: 6%;

	display: flex;
	flex-direction: column;
	justify-content: start;
}

.new_spprt{
	width: 100%;
	height: 45px;

	padding: 5px 0px;

	display: flex;
	flex-direction: row;
	justify-content: end;

	background: linear-gradient(90deg, rgb(180, 180, 180), rgb(255, 100, 100));
}

.barra_cerrar img{
	height: 100%;

	margin: 0px 10px;

	cursor: pointer;
}

.seccion_2{
	width: 100%;
	height: 94%;

	display: flex;
	flex-direction: column;
	justify-content: start;
	flex-wrap: wrap;

	padding: 30px;

	margin-bottom: 30px;
}

.spprt_info{
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.2);

	padding: 10px;

	display: flex;
	flex-direction: column;
	justify-content: start;

	overflow-y: scroll;
	overflow-x: hidden;
}

.spprt_info h1{
	color: aqua;
	text-shadow: 3px 3px 0px black;

	font-size: 48px;
	text-align: center;

	margin-bottom: 20px;
}

.spprt_info p{
	color: white;
	font-size: 24px;

	margin-bottom: 20px;
}

.spprt_info a{
	color: orange;

	padding: 0px 4px;

	background-color: rgb(255, 255, 255);

	text-decoration: underline;
	font-size: 24px;
}

.img_spprt{
	width: 100%;
	height: 180px;

	display: flex;
	flex-direction: row;
	justify-content: center;
}

.img_spprt img{
	height: 100%;
}

.seccion_1{
	width: 100%;

	padding: 10px;
}

.contenedor{
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	padding: 10px 20px;

	border-radius: 24px;

	background-color: rgba(255, 255, 255, 0.2);
}

.contenedor img{
	height: 100%;

	cursor: pointer;
}

.contenedor h1{
	color: white;
	text-shadow: 1px 2px 0px black;
	font-size: 48px;
}

.contenedor p{
	color: white;
	text-shadow: 1px 2px 0px black;
	font-size: 24px;
}

.contenedor b{
	color: gold;
	text-shadow: 1px 2px 0px black;
	font-size: 24px;
	cursor: pointer;
}

.img_des{
	width: 25%;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.center_img{
	width: 100%;
	height: 250px;

	display: flex;
	flex-direction: row;
	justify-content: center;
}

.des_img{
	width: 70%;
}

.copyright{
	width: 100%;

	padding: 30px 15px;

	background-color: black;
}

.copyright h1{
	color: white;
	font-size: 32px;

	text-align: center;
}

.copyright i{
	color: gold;
	font-size: 20px;

	text-align: center;
}

.copyright p{
	color: white;
	font-size: 20px;

	text-align: center;
}

@media(max-width: 1000px){
	body{
		width: 1000px;
	}
}

@keyframes back{
	0%{
		opacity: 100%;
		transform: scale(1.0);
	}

	100%{
		opacity: 0%;
		transform: scale(0.5);
	}
}

@keyframes open{
	0%{
		opacity: 0%;
		transform: scale(0.5);
	}

	100%{
		opacity: 100%;
		transform: scale(1.0);
	}
}